[run]
branch = False
omit =
    tests/*
    setup.py
    # Require graphical interface
    torchy_baselines/common/results_plotter.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError()
    if typing.TYPE_CHECKING:
