actionlib==1.11.13
angles==1.9.12
base-local-planner==1.14.7
bondpy==1.8.3
cachetools==4.1.0
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
capabilities==0.2.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cloudpickle==1.2.2
controller-manager==0.13.5
controller-manager-msgs==0.13.5
controller-manager-tests==0.13.5
create-dashboard==2.3.1
create-driver==2.3.1
create-node==2.3.1
cv-bridge==1.12.8
cycler==0.10.0
Cython==0.29.17
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.5.50
future==0.18.2
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
glfw==1.11.0
google-auth==1.14.1
google-auth-oauthlib==0.4.1
grpcio==1.28.1
gym==0.15.3
idna==2.9
image-geometry==1.12.8
imageio==2.8.0
interactive-markers==1.11.5
joint-state-publisher==1.12.15
kiwisolver==1.1.0
laser-geometry==1.6.5
lockfile==0.12.2
Markdown==3.2.1
matplotlib==3.0.3
message-filters==1.12.14
mujoco-py==2.0.2.5
numpy==1.18.4
oauthlib==3.1.0
openni2-launch==0.4.2
Pillow==7.1.2
pluginlib==1.11.3
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyglet==1.3.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.3.7
qt-dotgraph==0.3.17
qt-gui==0.3.17
qt-gui-cpp==0.3.17
qt-gui-py-common==0.3.17
requests==2.23.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rsa==4.0
rviz==1.12.17
scipy==1.4.1
six==1.14.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
topic-tools==1.12.14
torch==1.2.0
torchvision==0.4.0
unique-id==1.0.5
urllib3==1.25.9
Werkzeug==1.0.1
world-canvas-server==0.2.0
world-canvas-utils==0.2.0
xacro==1.11.3
